        


        </div>
        <br>
        <div class="container">
                <!--div class="page-header">
                  <h1><small>foot</small></h1>
                </div-->
            <footer class="footer">
            Copyright&copy; $config.site_name All rights reserved  <a href="http:lllewis.com/">$config.site_name</a>&nbsp;
            <p class="pull-right"><a href="#">Top</a></p>
            </footer>
        </div>
        <script type="text/javascript" src="$config.static/js/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="$config.static/bootstrap/v2/js/bootstrap.js"></script>
    </body>
</html>
