        


        </div>
        <br>
        <div class="container" style="font-size:15px">
            <div class="page-header">
                <h1><small>lll</small></h1>
                <p class="pull-right"><a href="#">Top</a></p>
            </div>
            <!--HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3-->
            <!--HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)"color=#987cb9 SIZE=1-->
            <footer class="footer" style="text-align:center">
            Copyright&copy;2015   Lewis All rights reserved  <a href="http:lllewis.com/">$config.site_name</a>&nbsp;
            </br></br>
            <!--div>
            <span style="font-size:15px;color:#555;text-decoration:underline;">"Go Out Boy, Get A Real Girl"</span>
            </div-->
            </br></br>
            </footer>
        </div>
        <script type="text/javascript" src="$config.static/js/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="$config.static/bootstrap/v2/js/bootstrap.js"></script>
    </body>
</html>
