<html> <body>
<table style="width: 538px; background-color: #393836;" align="center" cellspacing="0" cellpadding="0">
    <tr>
        <td style=" height: 65px; background-color: #000000; border-bottom: 1px solid #4d4b48;">
              <img src="https://store.steampowered.com/public/shared/images/email/email_header_logo.png" width="538" height="65"  />
        </td>
    </tr>
    <tr>
        <td bgcolor="#17212e">
            <table width="470" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">
                <tr bgcolor="#17212e">
                    <td style="padding-top: 32px;">
                    <span style="padding-top: 16px; padding-bottom: 16px; font-size: 24px; color: #66c0f4; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                        敬爱的 %s:
                    </span><br  />
                    </td>
                </tr>
                
                <tr>
                    <td style="padding-top: 12px;">
                    <span style="font-size: 17px; color: #c6d4df; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                        %s
                    </span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div>
                            <span style="font-size: 24px; color: #66c0f4; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">%s</span>
                        </div>
                    </td>
                </tr>


                <tr bgcolor="#121a25">
                    <td style="padding: 20px; font-size: 12px; line-height: 17px; color: #c6d4df; font-family: Arial, Helvetica, sans-serif;">
                            <p style="padding-bottom: 10px; color: #c6d4df;">这封电子邮件&#x4EF6;生成是由于地址为 <a style="color: #c6d4df;" href="https://steamcommunity.com/actions/ReportSuspiciousLogin?stoken=%s">%s（%s）</a>的电脑试图登录您的账户。该地址在试图登录时输入了您正确的账户名称和密码。</p>
                            <p style="padding-bottom: 10px; color: #c6d4df;">要完成登录，您将需要 Steam 令牌验证码。<span style="color: #ffffff; font-weight: bold;">无人可以在不访问这封电子邮件&#x4EF6;的前提下访问您的账户。</span></p>
                            <p style="padding-bottom: 10px; color: #c6d4df;"><span style="color: #ffffff; font-weight: bold;">如果您未曾试图登录</span>，请更改您的 Steam 密码，并考虑更改您的电子邮&#x4EF6;密码，确保您的账户安全。</p>
                            <p style="padding-top: 10px; color: #61696d;">如果您无法访问您的账户，那么可以<a style="color: #8f98a0;" href="https://help.steampowered.com/zh-cn/wizard/HelpUnauthorizedLogin?stoken=%s">使用该账户专用救援链接</a>以获得救援或者自行解锁您的账户的协助。</p>
                    </td>

                </tr>
                <tr>
                    <td style="font-size: 12px; color: #6d7880; padding-top: 16px; padding-bottom: 60px;">
                            Steam 团队<br  />
                                <a style="color: #8f98a0;" href="https://help.steampowered.com">https://help.steampowered.com</a><br  />
                    </td>
                </tr>

            </table>
        </td>
    </tr>

 <td bgcolor="#000000">
        <table width="460" height="55" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr valign="top">
          <td width="110">
            <a href="http://www.valvesoftware.com/" target="_blank" style=" color: #8B8B8B; font-size: 10px; font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase;  " font-size:="font-size:" px="px" color:="color:" b8b8b="b8b8b" font-family:="font-family:" trebuchet="trebuchet" ms="ms" text-transform:="text-transform:" uppercase="uppercase"><img src="http://storefront.steampowered.com/v/img/gift/VALVe.gif" width="92" height="26" hspace="0" vspace="0" border="0" align="top"  /><span></span></a></td>
          <td width="350" valign="top">
           <span style="color: #999999; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif;">&#xA9; Valve Corporation。保留所有权利。所有商标均为其在美国及其它国家/地区的各自持有者所有。</span>
          </td>
         </tr>
        </table>
    </td>
  <tr></tr>
</table>
</body>
</html>
