$:render.iheader() 
        <br>
        <form enctype="multipart/form-data" action=? method="POST">
        <div class="row">
          <div class="input-prepend">
            <span class="add-on">sento: </span><input type="text" class="form-control span8" placeholder="email addr" name="sento">
          </div>
          <div class="input-prepend">
            <span class="add-on">bindip: </span><input type="text" class="form-control span2" placeholder="local ip addr" name="bindip">
          </div>
        </div>
        <div class="row">
           <div class="input-prepend">
             <span class="add-on">content: </span><input type="text" class="form-control span8" placeholder="content" name="content">
           </div>
           <div class="input-prepend">
             <span class="add-on">content type: </span><input type="text" class="form-control span2" placeholder="content type" name="type">
           </div>
           <input type="submit" class="btn btn-default"  style="float:right" value="Submit"/>
        </div>
          <!--
          <p>artist:            <input type="text" name="artist" /></p>
          <p>year_record:       <input type="text" name="year_record" /></p>
          <p>music_contain:     <input type="text" name="music_contain" /></p>
          <p>description:       <input type="text" name="des" /></p>
          <p>ximiURL:           <input type="text" name="ximiurl" /></p>
          <p>coverURL:          <input type="text" name="coverurl" /></p> 
          <p>file:              <input type="file" name="path" /></p> 
          <input type="submit" value="Submit" />
          -->

        </form>
$:render.ifoot()
