$:render.iheader() 
        <br>
        <form enctype="multipart/form-data" action=? method="POST">
        <div class="row">
          <div class="input-prepend">
            <span class="add-on">Album Name: </span><input type="text" class="form-control span8" placeholder="input album name" name="album_name">
          </div>
          <div class="input-prepend">
            <span class="add-on">Country: </span><input type="text" class="form-control span2" placeholder="country code" name="country">
          </div>
        </div>
        <div class="row">
           <div class="input-prepend">
             <span class="add-on">Artist Name: </span><input type="text" class="form-control span8" placeholder="input artist name" name="artist_name">
           </div>
           <div class="input-prepend">
             <span class="add-on">Resule Limit: </span><input type="text" class="form-control span2" placeholder="num of search results" name="limit">
           </div>
           <input type="submit" class="btn btn-default"  style="float:right" value="Submit"/>
        </div>
          <!--
          <p>artist:            <input type="text" name="artist" /></p>
          <p>year_record:       <input type="text" name="year_record" /></p>
          <p>music_contain:     <input type="text" name="music_contain" /></p>
          <p>description:       <input type="text" name="des" /></p>
          <p>ximiURL:           <input type="text" name="ximiurl" /></p>
          <p>coverURL:          <input type="text" name="coverurl" /></p> 
          <p>file:              <input type="file" name="path" /></p> 
          <input type="submit" value="Submit" />
          -->

        </form>
$:render.ifoot()
